{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2>Manage <b>Brand/Organization </b>
                        <button type="button" class="btn btn-success float-right"
                                data-toggle="modal" data-target="#mymodal">Link Brands and Organizations
                        </button>
                    </h2>

                    <table id="main-table" class="table table-hover table-dark">
                        <tr>
                            <th>Brand Code</th>
                            <th>Brand Name</th>
                            <th>Alternative Brand Code ID</th>
                            <th>Alternative Brand Name</th>
                        </tr>
                        {% for row in feat %}
                            <tr class="main-table-row">
                                <th>{{ row.brand_barcode }}</th>
                                <th>{{ row.brand_name }}</th>
                            </tr>
                        {% endfor %}
                        {% for row in altFeat %}
                            <tr class="side-table-row">
                                <th>{{ row.brand_barcode }}</th>
                                <th>{{ row.brand_name }}</th>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add New Manufacturer</h4>
                        </div>

                        <div class="modal-body">
                            <form action="{{ url_for('link_alternative_brands') }}" method="POST">
                                <div class="form-group">
                                    <label>Lot ID:</label>
                                    <input type="text" class="form-control" name="lot_id" required="">
                                </div>

                                <div class="form-group">
                                    <label for="Brand-select">Brand: </label>
                                    <select id="Brand-select" name="Brand-select" required="">
                                        Select Brand:
                                        {% for row in brand %}
                                            <option value={{ row.brand_barcode }}>{{ row.brand_name }}
                                                [ {{ row.brand_barcode }} ]
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="Alternative-Brand-select">Alternative Brand: </label>
                                    <select id="Alternative-Brand-select" name="Alternative-Brand-select" required="">
                                        Select Alternative Brand:
                                        {% for row in brand %}
                                            <option value={{ row.brand_barcode }}>{{ row.brand_name }}
                                                [ {{ row.brand_barcode }} ]
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>m_syscode:</label>
                                    <input type="text" class="form-control" name="m_syscode" required="">
                                </div>

                                <div class="form-group">
                                    <label>Alternative m_syscode:</label>
                                    <input type="text" class="form-control" name="alternative-m_syscode" required="">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Link</button>
                                </div>

                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>

    <script>
        let mainTable = document.getElementsByClassName("main-table-row");
        let sideTable = document.getElementsByClassName("side-table-row");

        for (let i = 0; i < mainTable.length; i++) {
            mainTable[i].innerHTML = mainTable[i].innerHTML + sideTable[i].innerHTML;
        }
        lngth = sideTable.length;
        for (let i = 0; i < sideTable.length; i++) {
            console.log(i);
            sideTable[i].parentNode.removeChild(sideTable[i]);
        }
        let table = document.getElementById("main-table");
        let trElement = table.getElementsByTagName("tr");
        console.log(trElement[trElement.length - 1]);
        if (lngth > 1) {
            table.getElementsByTagName("tbody")[0].removeChild(trElement[trElement.length - 1]);
        }

    </script>

{% endblock %}