{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}


{% block body %}

<div class="container">
    <div class="row">
         <div class="col md-12">
             <div class="jumbotron p-3">
             <h2>Manage <b>Product Brands </b><button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Add New Product Brand</button> </h2>

                 <table class="table table-hover table-dark">
                    <tr>
                        <th>Brand Barcode</th>
                        <th>ID</th>
                        <th>Brand Name</th>
                        <th>Manufacturer ID</th>
                        <th>Action</th>
                    </tr>
                     {% for row in feat %}
                     <tr>
                         <th>{{row.brand_barcode}}</th>
                         <th>{{row.m_syscode}}</th>
                         <th>{{row.brand_name}}</th>
                         <th>{{row.manufacturer_id}}</th>

                         <td>
                             <a href="/updateproductbrands/{{ row.m_syscode }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.brand_barcode}}">Edit</a>
                            <a href="/deleteproductbrands/{{ row.m_syscode }}" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modaldelete{{row.brand_barcode}}" >Delete</a>
                         </td>

                     </tr>

                         <div id="modaldelete{{row.brand_barcode}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">


                                    <h4 class="modal-title">Are You Sure To Delete ? </h4>


                                 </div>

                                <div class="modal-body">
                                    <form action="{{url_for('deleteproductbrands')}}" method="POST">
                                        <div class="form-group">
                                            <input type="hidden"  name="m_syscode" value="{{row.m_syscode}}">
                                            <input type="hidden"  name="brand_barcode" value="{{row.brand_barcode}}">
                                              </div>

                                <div class="form-group">

                                    <button class="btn btn-danger btn-xs" type="submit" >Delete</button>

                                </div>
                                    </form>
                                </div>
                                 <div class="modal-footer">


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                 </div>

                            </div>
                            </div>
                            </div>

                    <div id="modaledit{{row.brand_barcode}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">


                                    <h4 class="modal-title">Update Product Brands</h4>


                                 </div>
                                <div class="modal-body">
                                    <form action="{{url_for('updateproductbrands')}}" method="POST">
                                        <div class="form-group">
                                            <input type="hidden"  name="brand_barcode" value="{{row.brand_barcode}}">
                                            <input type="hidden"  name="m_syscode" value="{{row.m_syscode}}">
                                            <label>Brand Name</label>
                                            <input type="text" class="form-control" name="brand_name" value="{{row.brand_name}} ">
                                        </div>

                                        <div class="form-group">
                                            <label>Manufacturer ID:</label>
                                            <input type="text" class="form-control" name="manufacturer_id" value="{{row.manufacturer_id}} ">
                                        </div>
                                <div class="form-group">

                                    <button class="btn btn-primary" type="submit">Update</button>

                                </div>
                                    </form>
                                </div>
                                 <div class="modal-footer">


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                 </div>

                            </div>
                        </div>
                    </div>


                {% endfor %}
                 </table>
             </div>
             <div id="mymodal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">


                                    <h4 class="modal-title">Add New Product Brand</h4>


                                 </div>

                                <div class="modal-body">
                                    <form action="{{url_for('insertproductbrands')}}" method="POST">
                                        <div class="form-group">
                                            <label>Brand Barcode:</label>
                                            <input type="text" class="form-control" name="brand_barcode" required="">
                                        </div>

                                         <div class="form-group">
                                            <label>M_Syscode:</label>
                                            <input type="text" class="form-control" name="m_syscode" required="">
                                        </div>
                                          <div class="form-group">
                                            <label>Brand Name:</label>
                                            <input type="text" class="form-control" name="brand_name" required="">
                                        </div>
                                        <div class="form-group">
                                            <label>Manufacturer ID:</label>
                                            <input type="text" class="form-control" name="manufacturer_id" required="">
                                        </div>
                                <div class="form-group">

                                    <button class="btn btn-primary" type="submit">Create</button>

                                </div>
                                    </form>
                                </div>
                                 <div class="modal-footer">


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                 </div>

                            </div>
                        </div>
                    </div>

         </div>

</div>
</div>
{% endblock %}