{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}


{% block body %}

<div class="container">
    <div class="row">
         <div class="col md-12">
             <div class="jumbotron p-3">
             <h2>Manage <b>Product </b><button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Add New Product</button> </h2>

                 <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>M_code</th>
                        <th>Name</th>
                        <th>Short Name</th>
                        <th>Parent Code</th>
                        <th>Abstract</th>
                        <th>Category</th>
                        <th>Is Active</th>
                        <th>Action</th>
                    </tr>
                     {% for row in feat %}
                     <tr>
                         <th>{{row.m_syscode}}</th>
                         <th>{{row.m_code}}</th>
                         <th>{{row.m_name}}</th>
                         <th>{{row.m_short_name}}</th>
                         <th>{{row.m_parent_code}}</th>
                         <th>{{row.m_abstract}}</th>
                         <th>{{row.m_category}}</th>
                         <th>{{row.is_active}}</th>

                         <td>
                             <a href="/updateproduct/{{ row.m_syscode }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.m_syscode}}">Edit</a>
                            <a href="/deleteproduct/{{ row.m_syscode }}" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modaldelete{{row.m_syscode}}" >Delete</a>
                             <a href="/safedeleteproduct/{{ row.org_id }}" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalsafedelete{{row.m_syscode}}" >Safe Delete</a>

                         </td>

                     </tr>
                        <div id="modalsafedelete{{row.m_syscode}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">


                                    <h4 class="modal-title">Are You Sure To Safe Delete ? </h4>


                                 </div>

                                <div class="modal-body">
                                    <form action="{{url_for('safedeleteproduct')}}" method="POST">
                                        <div class="form-group">
                                            <input type="hidden"  name="m_syscode" value="{{row.m_syscode}}">
                                              </div>

                                <div class="form-group">

                                    <button class="btn btn-danger btn-xs" type="submit" >Delete</button>

                                </div>
                                    </form>
                                </div>
                                 <div class="modal-footer">


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                 </div>

                            </div>
                            </div>
                            </div>


                         <div id="modaldelete{{row.m_syscode}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">


                                    <h4 class="modal-title">Are You Sure To Delete ? </h4>


                                 </div>

                                <div class="modal-body">
                                    <form action="{{url_for('deleteproduct')}}" method="POST">
                                        <div class="form-group">
                                            <input type="hidden"  name="m_syscode" value="{{row.m_syscode}}">
                                              </div>

                                <div class="form-group">

                                    <button class="btn btn-danger btn-xs" type="submit" >Delete</button>

                                </div>
                                    </form>
                                </div>
                                 <div class="modal-footer">


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                 </div>

                            </div>
                            </div>
                            </div>

                    <div id="modaledit{{row.m_syscode}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">


                                    <h4 class="modal-title">Update Product</h4>


                                 </div>
                                <div class="modal-body">
                                    <form action="{{url_for('updateproduct')}}" method="POST">
                                        <div class="form-group">
                                            <input type="hidden"  name="m_syscode" value="{{row.m_syscode}}">
                                            <label>M Code:</label>
                                            <input type="text" class="form-control" name="m_code" value="{{row.m_code}} ">
                                        </div>
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="text" class="form-control" name="m_name" value="{{row.m_name}} ">
                                        </div>
                                         <div class="form-group">
                                            <label>Short Name:</label>
                                            <input type="text" class="form-control" name="m_short_name" value="{{row.m_short_name}} ">
                                        </div>
                                        <div class="form-group">
                                            <label>Parent Code:</label>
                                            <input type="text" class="form-control" name="m_parent_code" value="{{row.m_parent_code}} ">
                                        </div>
                                          <div class="form-group">
                                            <label>Abstract:</label>
                                            <input type="text" class="form-control" name="m_abstract" value="{{row.m_abstract}} ">
                                        </div>
                                        <div class="form-group">
                                            <label>Category:</label>
                                            <input type="text" class="form-control" name="m_category" value="{{row.m_category}} ">
                                        </div>
                                        <div class="form-group">
                                            <label>Is Active:</label>
                                            <input type="text" class="form-control" name="is_active" value="{{row.is_active}} ">
                                        </div>
                                <div class="form-group">

                                    <button class="btn btn-primary" type="submit">Update</button>

                                </div>
                                    </form>
                                </div>
                                 <div class="modal-footer">


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                 </div>

                            </div>
                        </div>
                    </div>


                {% endfor %}
                 </table>
             </div>
             <div id="mymodal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">


                                    <h4 class="modal-title">Add New Product</h4>


                                 </div>

                                <div class="modal-body">
                                    <form action="{{url_for('insertproduct')}}" method="POST">
                                        <div class="form-group">
                                            <label>M_Code:</label>
                                            <input type="text" class="form-control" name="m_code" required="">
                                        </div>

                                         <div class="form-group">
                                            <label>Name:</label>
                                            <input type="text" class="form-control" name="m_name" required="">
                                        </div>
                                          <div class="form-group">
                                            <label>Short name:</label>
                                            <input type="text" class="form-control" name="m_short_name" required="">
                                        </div>
                                        <div class="form-group">
                                            <label>Parent Code:</label>
                                            <input type="text" class="form-control" name="m_parent_code" required="">
                                        </div>
                                          <div class="form-group">
                                            <label>Abstract:</label>
                                            <input type="text" class="form-control" name="m_abstract" >
                                        </div>
                                          <div class="form-group">
                                            <label>Category:</label>
                                            <input type="text" class="form-control" name="m_category" required="">
                                        </div>
                                        <div class="form-group">
                                            <label>Is Active:</label>
                                            <input type="text" class="form-control" name="is_active" >
                                        </div>
                                <div class="form-group">

                                    <button class="btn btn-primary" type="submit">Create</button>

                                </div>
                                    </form>
                                </div>
                                 <div class="modal-footer">


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                 </div>

                            </div>
                        </div>
                    </div>

         </div>

</div>
</div>
{% endblock %}